In [21]:
#Loading of dataframes
import pandas as pd

# Provide the correct path to your CSV file
file_path = r'C:\Users\ADMIN\Desktop\PROJECT\home-credit-credit-risk-model-stability\csv_files\test\test_applprev_1_0.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)
# Display the DataFrame
print(df)

   case_id  actualdpd_943P  annuity_853A  approvaldate_319D  \
0    57543             0.0     1519.8000                NaN
1    57549             0.0     2048.8000                NaN
2    57551             0.0     1871.8000                NaN
3    57551             0.0     5401.0000                NaN
4    57552             0.0     4834.2000                NaN
5    57632             0.0     6390.2000                NaN
6    57633             0.0        0.0000                NaN
7    57633             0.0     6336.8003                NaN
8    57633             0.0     3290.8000                NaN
9    57633             0.0     7524.2000                NaN

   byoccupationinc_3656910L cancelreason_3545846M  childnum_21L  \
0                       NaN           P94_109_143           NaN
1                       NaN           P94_109_143           NaN
2                       NaN           P94_109_143           NaN
3                       NaN           P94_109_143           NaN
4                       NaN           P94_109_143           1.0
5                       NaN            P11_56_131           NaN
6                       NaN           P94_109_143           NaN
7                       NaN           P180_60_137           NaN
8                       NaN           P94_109_143           NaN
9                       NaN           P94_109_143           NaN

  creationdate_885D  credacc_actualbalance_314A  credacc_credlmt_575A  ...  \
0        2018-07-10                         NaN                   0.0  ...
1        2019-04-09                         NaN                   0.0  ...
2        2019-11-23                         NaN                   0.0  ...
3        2018-08-08                         NaN                   0.0  ...
4        2017-03-01                         NaN                   0.0  ...
5        2020-10-20                         NaN                   0.0  ...
6        2019-12-30                         NaN              200000.0  ...
7        2018-09-01                         NaN                   0.0  ...
8        2018-01-09                         NaN                   0.0  ...
9        2017-06-22                         NaN                   0.0  ...

   num_group1  outstandingdebt_522A  pmtnum_8L  postype_4733339M  \
0           0                   NaN       31.0       P149_40_170
1           0                   NaN       12.0       P67_102_161
2           0                   NaN       12.0       P67_102_161
3           1                   NaN       18.0        P46_145_78
4           0                   NaN       18.0        P46_145_78
5           0                   NaN       24.0       P149_40_170
6           0                   NaN        NaN        P46_145_78
7           1                   NaN       36.0        P46_145_78
8           2                   NaN       18.0        P46_145_78
9           3                   NaN        3.0      P177_117_192

   profession_152M rejectreason_755M  rejectreasonclient_4145042M  \
0         a55475b1        P99_56_166                  P94_109_143
1         a55475b1        P45_84_106                  P94_109_143
2         a55475b1        P99_56_166                  P94_109_143
3         a55475b1        P45_84_106                  P94_109_143
4         a55475b1        P45_84_106                  P94_109_143
5         a55475b1          a55475b1                     a55475b1
6         a55475b1        P45_84_106                  P94_109_143
7         a55475b1          a55475b1                     a55475b1
8         a55475b1       P94_109_143                  P94_109_143
9         a55475b1        P99_56_166                  P94_109_143

   revolvingaccount_394A status_219L  tenor_203L
0                    NaN           D        31.0
1                    NaN           D        12.0
2                    NaN           D        12.0
3                    NaN           D        18.0
4                    NaN           D        18.0
5                    NaN           T        24.0
6                    NaN           D         NaN
7                    NaN           T        36.0
8                    NaN           D        18.0
9                    NaN           D         3.0

[10 rows x 41 columns]

In [3]:
#deleting column actualdpd_943P

df=df.drop(columns=['actualdpd_943P'])
print(df)

   case_id  annuity_853A  approvaldate_319D  byoccupationinc_3656910L  \
0    57543     1519.8000                NaN                       NaN
1    57549     2048.8000                NaN                       NaN
2    57551     1871.8000                NaN                       NaN
3    57551     5401.0000                NaN                       NaN
4    57552     4834.2000                NaN                       NaN
5    57632     6390.2000                NaN                       NaN
6    57633        0.0000                NaN                       NaN
7    57633     6336.8003                NaN                       NaN
8    57633     3290.8000                NaN                       NaN
9    57633     7524.2000                NaN                       NaN

  cancelreason_3545846M  childnum_21L creationdate_885D  \
0           P94_109_143           NaN        2018-07-10
1           P94_109_143           NaN        2019-04-09
2           P94_109_143           NaN        2019-11-23
3           P94_109_143           NaN        2018-08-08
4           P94_109_143           1.0        2017-03-01
5            P11_56_131           NaN        2020-10-20
6           P94_109_143           NaN        2019-12-30
7           P180_60_137           NaN        2018-09-01
8           P94_109_143           NaN        2018-01-09
9           P94_109_143           NaN        2017-06-22

   credacc_actualbalance_314A  credacc_credlmt_575A  credacc_maxhisbal_375A  \
0                         NaN                   0.0                     NaN
1                         NaN                   0.0                     NaN
2                         NaN                   0.0                     NaN
3                         NaN                   0.0                     NaN
4                         NaN                   0.0                     NaN
5                         NaN                   0.0                     NaN
6                         NaN              200000.0                     NaN
7                         NaN                   0.0                     NaN
8                         NaN                   0.0                     NaN
9                         NaN                   0.0                     NaN

   ...  num_group1  outstandingdebt_522A  pmtnum_8L  postype_4733339M  \
0  ...           0                   NaN       31.0       P149_40_170
1  ...           0                   NaN       12.0       P67_102_161
2  ...           0                   NaN       12.0       P67_102_161
3  ...           1                   NaN       18.0        P46_145_78
4  ...           0                   NaN       18.0        P46_145_78
5  ...           0                   NaN       24.0       P149_40_170
6  ...           0                   NaN        NaN        P46_145_78
7  ...           1                   NaN       36.0        P46_145_78
8  ...           2                   NaN       18.0        P46_145_78
9  ...           3                   NaN        3.0      P177_117_192

  profession_152M  rejectreason_755M  rejectreasonclient_4145042M  \
0        a55475b1         P99_56_166                  P94_109_143
1        a55475b1         P45_84_106                  P94_109_143
2        a55475b1         P99_56_166                  P94_109_143
3        a55475b1         P45_84_106                  P94_109_143
4        a55475b1         P45_84_106                  P94_109_143
5        a55475b1           a55475b1                     a55475b1
6        a55475b1         P45_84_106                  P94_109_143
7        a55475b1           a55475b1                     a55475b1
8        a55475b1        P94_109_143                  P94_109_143
9        a55475b1         P99_56_166                  P94_109_143

  revolvingaccount_394A  status_219L  tenor_203L
0                   NaN            D        31.0
1                   NaN            D        12.0
2                   NaN            D        12.0
3                   NaN            D        18.0
4                   NaN            D        18.0
5                   NaN            T        24.0
6                   NaN            D         NaN
7                   NaN            T        36.0
8                   NaN            D        18.0
9                   NaN            D         3.0

[10 rows x 40 columns]

In [4]:
# delete col childnum_21L

del df['childnum_21L']
print(df)

   case_id  annuity_853A  approvaldate_319D  byoccupationinc_3656910L  \
0    57543     1519.8000                NaN                       NaN
1    57549     2048.8000                NaN                       NaN
2    57551     1871.8000                NaN                       NaN
3    57551     5401.0000                NaN                       NaN
4    57552     4834.2000                NaN                       NaN
5    57632     6390.2000                NaN                       NaN
6    57633        0.0000                NaN                       NaN
7    57633     6336.8003                NaN                       NaN
8    57633     3290.8000                NaN                       NaN
9    57633     7524.2000                NaN                       NaN

  cancelreason_3545846M creationdate_885D  credacc_actualbalance_314A  \
0           P94_109_143        2018-07-10                         NaN
1           P94_109_143        2019-04-09                         NaN
2           P94_109_143        2019-11-23                         NaN
3           P94_109_143        2018-08-08                         NaN
4           P94_109_143        2017-03-01                         NaN
5            P11_56_131        2020-10-20                         NaN
6           P94_109_143        2019-12-30                         NaN
7           P180_60_137        2018-09-01                         NaN
8           P94_109_143        2018-01-09                         NaN
9           P94_109_143        2017-06-22                         NaN

   credacc_credlmt_575A  credacc_maxhisbal_375A  credacc_minhisbal_90A  ...  \
0                   0.0                     NaN                    NaN  ...
1                   0.0                     NaN                    NaN  ...
2                   0.0                     NaN                    NaN  ...
3                   0.0                     NaN                    NaN  ...
4                   0.0                     NaN                    NaN  ...
5                   0.0                     NaN                    NaN  ...
6              200000.0                     NaN                    NaN  ...
7                   0.0                     NaN                    NaN  ...
8                   0.0                     NaN                    NaN  ...
9                   0.0                     NaN                    NaN  ...

   num_group1  outstandingdebt_522A  pmtnum_8L postype_4733339M  \
0           0                   NaN       31.0      P149_40_170
1           0                   NaN       12.0      P67_102_161
2           0                   NaN       12.0      P67_102_161
3           1                   NaN       18.0       P46_145_78
4           0                   NaN       18.0       P46_145_78
5           0                   NaN       24.0      P149_40_170
6           0                   NaN        NaN       P46_145_78
7           1                   NaN       36.0       P46_145_78
8           2                   NaN       18.0       P46_145_78
9           3                   NaN        3.0     P177_117_192

   profession_152M  rejectreason_755M rejectreasonclient_4145042M  \
0         a55475b1         P99_56_166                 P94_109_143
1         a55475b1         P45_84_106                 P94_109_143
2         a55475b1         P99_56_166                 P94_109_143
3         a55475b1         P45_84_106                 P94_109_143
4         a55475b1         P45_84_106                 P94_109_143
5         a55475b1           a55475b1                    a55475b1
6         a55475b1         P45_84_106                 P94_109_143
7         a55475b1           a55475b1                    a55475b1
8         a55475b1        P94_109_143                 P94_109_143
9         a55475b1         P99_56_166                 P94_109_143

   revolvingaccount_394A  status_219L  tenor_203L
0                    NaN            D        31.0
1                    NaN            D        12.0
2                    NaN            D        12.0
3                    NaN            D        18.0
4                    NaN            D        18.0
5                    NaN            T        24.0
6                    NaN            D         NaN
7                    NaN            T        36.0
8                    NaN            D        18.0
9                    NaN            D         3.0

[10 rows x 39 columns]

In [19]:
#apply min max normalization  annuity_853A 

# Select only numeric columns for normalization
numeric_cols = df.select_dtypes(include='number')

# Manual min-max normalization
df_normalized = (numeric_cols - numeric_cols.min()) / (numeric_cols.max() - numeric_cols.min())

print(df_normalized)

    case_id  actualdpd_943P  annuity_853A  approvaldate_319D  \
0  0.000000             NaN      0.201988                NaN
1  0.066667             NaN      0.272295                NaN
2  0.088889             NaN      0.248771                NaN
3  0.088889             NaN      0.717817                NaN
4  0.100000             NaN      0.642487                NaN
5  0.988889             NaN      0.849286                NaN
6  1.000000             NaN      0.000000                NaN
7  1.000000             NaN      0.842189                NaN
8  1.000000             NaN      0.437362                NaN
9  1.000000             NaN      1.000000                NaN

   byoccupationinc_3656910L  childnum_21L  credacc_actualbalance_314A  \
0                       NaN           NaN                         NaN
1                       NaN           NaN                         NaN
2                       NaN           NaN                         NaN
3                       NaN           NaN                         NaN
4                       NaN           NaN                         NaN
5                       NaN           NaN                         NaN
6                       NaN           NaN                         NaN
7                       NaN           NaN                         NaN
8                       NaN           NaN                         NaN
9                       NaN           NaN                         NaN

   credacc_credlmt_575A  credacc_maxhisbal_375A  credacc_minhisbal_90A  ...  \
0                   0.0                     NaN                    NaN  ...
1                   0.0                     NaN                    NaN  ...
2                   0.0                     NaN                    NaN  ...
3                   0.0                     NaN                    NaN  ...
4                   0.0                     NaN                    NaN  ...
5                   0.0                     NaN                    NaN  ...
6                   1.0                     NaN                    NaN  ...
7                   0.0                     NaN                    NaN  ...
8                   0.0                     NaN                    NaN  ...
9                   0.0                     NaN                    NaN  ...

   downpmt_134A  dtlastpmt_581D  dtlastpmtallstes_3545839D  \
0           NaN             NaN                        NaN
1           NaN             NaN                        NaN
2           NaN             NaN                        NaN
3           NaN             NaN                        NaN
4           NaN             NaN                        NaN
5           NaN             NaN                        NaN
6           NaN             NaN                        NaN
7           NaN             NaN                        NaN
8           NaN             NaN                        NaN
9           NaN             NaN                        NaN

   mainoccupationinc_437A  maxdpdtolerance_577P  num_group1  \
0                0.095745                   NaN    0.000000
1                0.000000                   NaN    0.000000
2                0.053191                   NaN    0.000000
3                0.202128                   NaN    0.333333
4                0.021277                   NaN    0.000000
5                0.468085                   NaN    0.000000
6                1.000000                   NaN    0.000000
7                0.424468                   NaN    0.333333
8                0.468085                   NaN    0.666667
9                0.095745                   NaN    1.000000

   outstandingdebt_522A  pmtnum_8L  revolvingaccount_394A  tenor_203L
0                   NaN   0.848485                    NaN    0.848485
1                   NaN   0.272727                    NaN    0.272727
2                   NaN   0.272727                    NaN    0.272727
3                   NaN   0.454545                    NaN    0.454545
4                   NaN   0.454545                    NaN    0.454545
5                   NaN   0.636364                    NaN    0.636364
6                   NaN        NaN                    NaN         NaN
7                   NaN   1.000000                    NaN    1.000000
8                   NaN   0.454545                    NaN    0.454545
9                   NaN   0.000000                    NaN    0.000000

[10 rows x 25 columns]

In [33]:
#replace a string col into numeric 

import pandas as pd

# Provide the correct path to your CSV file
file_path = r'C:\Users\ADMIN\Desktop\PROJECT\home-credit-credit-risk-model-stability\csv_files\test\test_applprev_1_2.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Define a dictionary mapping string values to numeric values
mapping = {'a55475b1':.7,'P94_109_143':.2}

# Replace string values with numeric values using the mapping
df.replace(mapping, inplace=True)

print(df)

   case_id  actualdpd_943P  annuity_853A approvaldate_319D  \
0   100984             0.0        0.0000        2022-09-12
1   101005             0.0     3552.4001               NaN
2   101005             0.0     5847.0000               NaN
3   101065             0.0     7798.4000        2022-09-20
4   101065             0.0     7798.4000               NaN
5   101065             0.0        0.0000               NaN
6   101146             0.0     7800.8003               NaN
7   101146             0.0     1870.0000        2022-06-24
8   101146             0.0     2756.4001               NaN
9   101146             0.0     2557.6000               NaN

   byoccupationinc_3656910L cancelreason_3545846M  childnum_21L  \
0                       NaN                   0.7           NaN
1                       NaN                   0.2           NaN
2                       NaN                   0.2           NaN
3                       NaN            P19_105_83           NaN
4                       NaN            P19_105_83           NaN
5                       NaN                   0.2           NaN
6                       NaN             P30_86_84           NaN
7                       NaN                   0.7           NaN
8                       NaN                   0.2           NaN
9                       1.0                   0.7           0.0

  creationdate_885D  credacc_actualbalance_314A  credacc_credlmt_575A  ...  \
0        2022-09-12                   1816.7119                   0.0  ...
1        2022-09-13                         NaN                   0.0  ...
2        2022-09-12                         NaN                   0.0  ...
3        2022-09-20                         NaN                   0.0  ...
4        2022-09-01                         NaN               10660.0  ...
5        2017-06-27                      0.0000                   0.0  ...
6        2022-07-19                         NaN                   0.0  ...
7        2022-06-24                         NaN                   0.0  ...
8        2016-10-06                         NaN                   0.0  ...
9        2015-10-23                         NaN                   0.0  ...

   num_group1  outstandingdebt_522A pmtnum_8L  postype_4733339M  \
0           0                   0.0       NaN       P67_102_161
1           0                   NaN      60.0        P46_145_78
2           1                   NaN      48.0        P46_145_78
3           0                   NaN      48.0        P46_145_78
4           1                   NaN      48.0        P46_145_78
5           2                   NaN       NaN        P46_145_78
6           0                   NaN      48.0        P46_145_78
7           1               11158.2       8.0      P177_117_192
8           2                   NaN      12.0        P46_145_78
9           3                   0.0      24.0        P46_145_78

   profession_152M rejectreason_755M  rejectreasonclient_4145042M  \
0              0.7               0.7                          0.7
1              0.7               0.7                          0.2
2              0.7               0.7                          0.2
3              0.7               0.7                          0.7
4              0.7        P198_131_9                          0.2
5              0.7        P198_131_9                          0.2
6              0.7               0.7                    P30_86_84
7              0.7               0.7                          0.7
8              0.7        P99_56_166                          0.2
9              0.7               0.7                          0.7

  revolvingaccount_394A status_219L  tenor_203L
0           840473660.0           N         NaN
1                   NaN           D        60.0
2                   NaN           D        48.0
3           840488060.0           T        48.0
4                   NaN           T        48.0
5                   NaN           D         NaN
6                   NaN           D        48.0
7                   NaN           A         8.0
8                   NaN           D        12.0
9                   NaN           D        24.0

[10 rows x 41 columns]